target/classes/customers-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <mongo:config name="Mongo_DB" username="admin" database="develop" doc:name="Mongo DB"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="customers-consumerFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5000"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/api/customers" method="GET" doc:name="HTTP"/>
        </poll>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="shared-db-operations-insert-record-Sub_Flow" doc:name="shared-db-operations-insert-record-Sub_Flow"/>
    </flow>
</mule>
